# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Unit test cache
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Environment
.env
.env.*

# PyPI cache
~/.pypirc

# Binder
binder/
runtime.txt

# macOS / Windows / Linux hidden files
.DS_Store
Thumbs.db
*.bak
